body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #EDF2F7;
    color: #333;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.toolbar {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.action-btn {
    padding: 8px 25px;
    background-color: #48BB78;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.action-btn:hover {
    background-color: #38A169;
}

.cancel-btn, .remove-rule-btn {
    background-color: #f0f0f0;
    color: #333;
}

.gray-btn {
    background-color: #838080;
    color: #fff;
}

.save-btn {
    background-color: #4CAF50;
    color: white;
}

.apply-btn {
    background-color: #4c77af;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.apply-btn:hover {
    background-color: #4551a0;
}

.confirm-btn {
    background-color: #f44336;
    color: white;
}

#confirmDeleteBtn {
    background-color: #dc3545;
    color: white;
}

#cancelDeleteBtn {
    background-color: #6c757d;
    color: white;

}


.search-bar {
    padding: 10px 20px;
    flex-grow: 1;
    border-radius: 20px;
    border: none;
    transition: box-shadow 0.3s ease;
    background-color: #F7FAFC;
    margin-left: auto;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

.search-bar::placeholder {
    color: #A0AEC0;
}

.search-bar:focus {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 8px rgba(72, 187, 120, 0.6);
    outline: none;
}

.rules-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.rule-item {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
    font-size: 0.85rem;
    line-height: 1.4;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}


.rule-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 2px 4px rgba(0, 0, 0, 0.08);
}

.filename {
    font-weight: bold;
}

.filename, .rule-type {

    font-weight: bold;
    color: rgba(77, 76, 76, 0.91);
}

.button-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.edit-rule-btn, .remove-rule-btn {

    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #e0e0e0;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.edit-rule-btn:hover, .remove-rule-btn:hover {
    background-color: #d0d0d0;
}

.edit-rule-icon {
    width: 30px;
    height: 30px;

    cursor: pointer;
}

.edit-rule-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.edit-rule-btn:hover .edit-rule-icon {

    opacity: 0.8;
}

.edit-rule-icon, .remove-rule-icon {
    display: inline-block;
    margin-left: 8px;
}

.remove-rule-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.remove-rule-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.remove-rule-btn:hover .remove-rule-icon {
    opacity: 0.8;
}

.rule-type {
    padding: 3px 15px;
    border-radius: 15px;
    font-size: 13px;
    text-transform: capitalize;
    align-self: center;
    margin-left: auto;
}

.rule-type.alerting {
    background-color: #F56565;
    color: white;
}

.rule-type.recording {
    background-color: #3182ce;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: auto;
    max-width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    margin: 15% auto;
}

.modal-content h2 {
    color: #333; 
    margin-bottom: 20px;
}

.modal-input {
    width: calc(100% - 40px); 
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    font-size: 16px; 
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.1); 
}

.modal-error-message {
    color: #f44336; 
    margin-top: 10px; 
}


.modal-input:focus {
    border-color: #4CAF50; 
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.1), 0 0 8px rgba(76,175,80,0.6); 
    outline: none; 
}

.modal-btn {
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;
    outline: none; 
}

.modal-btn-confirm {
    background-color: #48BB78; 
    color: white;
}

.modal-btn-confirm:hover {
    background-color: #38A169; 
}

.modal-btn-cancel {
    background-color: #f44336; 
    color: white;
}

.modal-btn-cancel:hover {
    background-color: #d32f2f; 
}


.close {
    display: none; 
}

.close {
    color: #333;
    float: right;
    font-size: 32px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.CodeMirror {
    border: 1px solid #ccc;
    font-size: 13px;
    font-family: 'DINPro-Medium', serif;
    height: auto;
}

@media (max-width: 768px) {
    .toolbar {
        flex-direction: column;
        align-items: stretch;
    }

    .search-bar {
        margin-top: 10px;
        width: auto;
    }

    .action-btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .rule-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .filename,
    .button-container,
    .rule-type {
        width: 100%;
        margin-bottom: 10px;
    }

    .button-container {
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
    }

    .rule-type {
        order: 3;
        margin-left: 0;
    }
}

.modal-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
    transition: background-color 0.2s ease-in-out;

}

.modal-btn:hover {
    background-color: #d0d0d0;
}

.border-radius-standard {
    border-radius: 8px;
}

.gray-btn:hover {
    background-color: #b0b0b0;
}

#homeBtn {
    background-image: url('https://cdn-icons-png.flaticon.com/128/5974/5974636.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#homeBtn:hover {
    background-color: transparent;
}